---
draft: true
description:
socialDescription:
title: My personality test results
tags:
  - note/personal
date: 2025-07-26
modified: 2025-09-03
---
[[Jung 12 temel arketip testi]]
[[My personal ADHD journey]]
[[Insight Discovery personality test]]