---
draft: true
description:
socialDescription:
title: My personality test results
tags:
  - note/personal
date: 2025-07-26
modified: 2025-08-21
---
[[Jung 12 temel arketip testi]]
[[My personal ADHD journey]]